<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header"> 
	<h1>Rainforest.Com</h1>
	<h2>It's Amazon.Com... without all the money.</h2>
</div>


<%= yield %>

</body>
</html>
